

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

main{
    max-width: 808px;
    margin: 0 auto;
    padding: 0px 20px;
}

.swiper button{
    color: #fff;
    width: 50px;
    height: 50px;
}

.swiper .swiper-button-prev{
    transform: rotate(180deg);
}

.swiper button::after{
    display: none;
}







.prd-headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.prd-headline h2{
    font-size: 18px;
    font-weight: bold;
}
.prd-headline p{
    font-size: 14px;
    font-weight: 500;
}

.prd-list{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.prd-item{
    position: relative;
    flex: 1;
}
.prd-link{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    /* background: #0f0; */
    z-index: 2;
}
.prd-item .img-box{
    position: relative;
}
.prd-item .img-box .btn-fav{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-image: url(../img/heart.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
}
.prd-item .img-box img{
    border-radius: 5px;
}

.prd-item .img-box .heart{
    position: absolute;
    bottom: 5px;
    right: 8px;
}
.prd-item .text-box{
    display: flex;
    flex-direction: column;
    padding: 10px 13px 0px 11px;
}
.prd-item .text-box em{
    font-size: 10px;
    color: #777;
    margin-bottom: 8px;
    font-weight: 400;
}
.prd-item .text-box strong{
    display: block;
    margin: 0px 0px 9px;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
    max-height: 40px;
    display:-webkit-box; 
    word-wrap:break-word; 
    -webkit-line-clamp:2; 
    -webkit-box-orient:vertical; 
    overflow:hidden; 
    text-overflow:ellipsis;

}
.prd-item .star-list{
    display: flex;
    align-items: center;
    
}

.prd-item .star-list.on{
    display: none;
}
.prd-item .star-item{
    width: 11px;
    height: 10px;
}
.prd-item .review{
    color: rgb(51, 51, 51);
    font-size: 10px;
    line-height: 14px;
    margin-left: 4px;
    font-weight: 400;
}

.prd-item .energy{
    padding: 4px 5px;
    background-color: rgb(255, 244, 247);
    border-radius: 3px;
    width: 103px;
}
.prd-item .energy span{
    display: flex;
    align-items: center;
    gap: 2px;
    color: rgb(226, 29, 71);
    font-size: 10px;
    font-weight: 500;
    line-height: 13px;
}
.prd-item .energy img{
    width: 12px;
    height: 12px;
}

.prd-item .bar{
    margin: 8px 0;
    border-top: 1px solid rgb(238, 238, 238);

}

.prd-item .cost{
    line-height: 14px;
    font-weight: bold;
}
.prd-item .cost p{
    font-size: 14px;
    line-height: 22px;
}

.prd-item .cost .sale{
    display: flex;
    gap: 2px;

}
.prd-item .cost .per{
    font-size: 14px;
    color: #ff3f33;
    line-height: 22px;
    margin-right: 2px;
}
.prd-item .cost em{
    font-size: 10px;
    color: #ccc;
    text-decoration: line-through;
    letter-spacing: -0.48px;
    font-weight: bold; 
}

.prd-last-box{
    display: flex;
    gap: 4px;
}


.last-box{
    display: flex;
    gap: 5px;
    font-size: 10px;
    font-weight: bold;
    line-height: 14px;
    border-radius: 5px;
    margin-top: 5px;  
    margin-bottom: 30px;
}
.last-box.a{
    color: rgb(255, 63, 51);
    background-color: rgb(244, 244, 244);
    width: 42px;
    padding: 4px 6px;

}

.last-box.b{
    color: rgb(122, 41, 250);
    background-color: rgb(244, 244, 244);
    width: 58px;
    text-align: center;
    padding: 4px 6px;

}

.last-box.c{
    color: rgb(255, 63, 51);
    background-color: rgb(244, 244, 244);
    width: 32px;
    padding: 4px 6px;

}



@media (max-width:769px) {
    .prd-headline, .prd-list{
        padding: 0 20px;
    }

    .prd-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: repeat(2, 500px); */
    }

    .prd-item .last-box{
        margin-bottom: 30px;
    }

    
    .prd-link .text-box{
        display: flex;
        flex-direction: column;
        padding: 10px 13px 0px 11px;
    }
    .prd-link .text-box em{
        font-size: 10px;
        color: #777;
        margin-bottom: 8px;
        font-weight: 400;
    }
    .prd-link .text-box strong{
        display: block;
        margin: 0px 0px 9px;
        font-weight: 400;
        line-height: 20px;
        font-size: 12px;
        font-weight: 500;
        max-height: 40px;
        display:-webkit-box; 
        word-wrap:break-word; 
        -webkit-line-clamp:2; 
        -webkit-box-orient:vertical; 
        overflow:hidden; 
        text-overflow:ellipsis;

    }
    .prd-link .star-list{
        display: flex;
        align-items: center;
        
    }
    .prd-link .star-item{
        width: 11px;
        height: 10px;
    }
    .prd-link .review{
        color: rgb(51, 51, 51);
        font-size: 10px;
        line-height: 14px;
        margin-left: 4px;
        font-weight: 400;
    }

    .prd-item .energy{
        padding: 4px 5px;
        background-color: rgb(255, 244, 247);
        border-radius: 3px;
        width: 103px;
    }
    .prd-item .energy span{
        display: flex;
        align-items: center;
        gap: 2px;
        color: rgb(226, 29, 71);
        font-size: 10px;
        font-weight: 500;
        line-height: 13px;
    }
    .prd-item .energy img{
        width: 12px;
        height: 12px;
    }

    .prd-link .bar{
        margin-top: 8px;
        margin-bottom: 4px;
        border-top: 1px solid rgb(238, 238, 238);

    }

    .prd-link .cost{
        line-height: 14px;
    }
    .prd-link .cost p{
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
    }

    .prd-link .cost .sale{
        display: flex;
        gap: 2px;

    }
    .prd-link .cost .per{
        font-size: 14px;
        color: #ff3f33;
        font-weight: 700;
        line-height: 22px;
        margin-right: 2px;
    }
    .prd-link .cost .ori{
        font-size: 10px;
        color: #ccc;
        text-decoration: line-through;
        letter-spacing: -0.48px;
    }
    
    .swiper button{
        display: none;
    }

}